:root {
  --color-grey-dark: #202326;
  --color-grey-light: #363a3e;
  --color-purple: #7288da;
  --color-pink: #f9b4e2;
  // #4C4C4E
  // #8A4F80
  // #E8D9C8
  // #F9B4E2
  // #F9B4E2
}

html {
  border-radius: 25px;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

.app-main {
  height: 100vh;
  display: flex;
}

.menu {
  background: var(--color-purple);
  height: 100%;
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
}

.menu--logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  position: relative;
  &.active {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 13px;
      background: white;
      height: 46px;
      border-radius: 33px;
      margin-left: -19px;
    }
  }
  &:hover {
    border-radius: 20%;
    background: var(--color-purple);
  }
}

.menu--logo img {
  width: 75%;
  height: 75%;
}

.menu--icon {
  width: 50px;
  height: 50px;
  background: var(--color-grey-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  position: relative;
  &.active {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 13px;
      background: white;
      height: 46px;
      border-radius: 33px;
      margin-left: -19px;
    }
  }
  &:hover {
    border-radius: 20%;
    background: var(--color-purple);
  }
}

.menu--icon img {
  width: 75%;
  height: 75%;
}

.file--icon {
  width: 50px;
  height: 50px;
  background: var(--color-purple);
  border-radius: 20%;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  position: relative;
  &.active {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 13px;
      background: white;
      height: 46px;
      border-radius: 33px;
      margin-left: -19px;
    }
  }
  &:hover {
    border-radius: 20%;
    background: var(--color-pink);
    font-weight: bolder;
  }
}

.file--icon img {
  width: 75%;
  height: 75%;
}

.menu--separator {
  width: 40px;
  height: 2px;
  background: white;
  margin-bottom: 10px;
  border-radius: 2px;
}
.main {
  width: 100%;
  height: 100%;
}

.window-operations-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-between;
  background: var(--color-purple);
  color: white;
  z-index: 5;
  -webkit-app-region: drag;
}

.window-operations-container i {
  -webkit-app-region: no-drag;
  display: block;
  padding: 5px 10px;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.24);
  }
}

.window-operations-container .minimize {
  line-height: 10px;
}

.window-operations-container .close {
  &:hover {
    background-color: red;
  }
}

.window-operations-container .logo {
  height: 28px;
}

.window-operations-container .operations {
  display: flex;
}

.top-space {
  height: 28px;
}

.from {
  border-right: var(--color-grey-dark) solid 1px;
  padding: 0 !important;
}

.to {
  padding: 0 !important;
}

.from-to {
  padding: 0;
  height: 100%;
}

.from-to-name h3 {
  /* margin: 20px; */
  font-family: "Paytone One" !important;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.from-to-name h3 span {
  display: block;
  margin: 0 0 17px 10px;
  font-size: 40px;
  line-height: 40px;
  color: #7288da;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
  letter-spacing: -4px;
}

.menu--update {
  &:hover {
    color: green;
  }
}

.menu--delete {
  &:hover {
    color: red;
  }
}

.from-file-list {
  height: 100%;
}

.from-part-first .select-date {
  padding: 0;
}

.folder-name {
  font-size: 20px;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    &:hover {
      animation: app-logo-spin infinite 10s linear;
    }
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
